<!doctype html>
<html ng-app='app'>
  <head>
  	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>

	<script src="js/app.js"></script>
	<script src="/angular_slider/build/angular-slider.min.js"></script>
    <!-- Latest compiled and minified JavaScript 
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
  	<div class="container" ng-controller="FilterCtrl">
	    <h2>CSS3 Image Filters(s) Generator</h2>
	    <div class="alert alert-info">
	    	<p>Use sliders on the right, to style the image, css rules are generated below. For use in <em>modern</em> browsers.</p>
    	</div>
    	<div class="row">
		    <div class="col-xs-12 col-sm-6" id="image_view">
		    	<!-- image -->
		    	<img src="http://farm4.staticflickr.com/3915/14503838952_748f7f441d_c.jpg" style="{{css()}}" />
		    </div>  
		    <div class="col-xs-12 col-sm-6">
		    	<!-- filters -->
		    	<h4>filters</h4>		    		

	    		<div class="panel panel-default" ng-repeat="filter in filters">
					<div class="panel-heading">
						<h3 class="panel-title">{{filter.name}}</h3>
					</div>
					<div class="panel-body">
						<slider
						    ng-model="filter.value"
						    floor="0"
						    ceiling="100"
						    step="1">
						</slider>
						{{filter.value}}
					</div>
				</div>


		    </div>	    	
    	</div>
    	<div class="row">
		    <div class="col-xs-12">
		    	<h4>CSS3 filter</h4>
		    	<!-- css out -->
		    	<code>
		    		{{css_formatted()}}
		    	</code>
		    </div>    		
    	</div>
    </div>
  </body>
</html>